<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.embroidermodder.embroideryviewer">

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:host="*" />

                <data android:pathPattern=".*\\.dst" />
                <data android:pathPattern=".*\\.DST" />
                <data android:mimeType="application/x-dst" />
                <data android:pathPattern=".*\\.col" />
                <data android:pathPattern=".*\\.COL" />
                <data android:mimeType="application/x-col" />
                <data android:pathPattern=".*\\.exp" />
                <data android:pathPattern=".*\\.EXP" />
                <data android:mimeType="application/x-exp" />
                <data android:pathPattern=".*\\.inf" />
                <data android:pathPattern=".*\\.INF" />
                <data android:mimeType="application/x-inf" />
                <data android:pathPattern=".*\\.jef" />
                <data android:pathPattern=".*\\.JEF" />
                <data android:mimeType="application/x-jef" />
                <data android:pathPattern=".*\\.pcs" />
                <data android:pathPattern=".*\\.PCS" />
                <data android:mimeType="application/x-pcs" />
                <data android:pathPattern=".*\\.pec" />
                <data android:pathPattern=".*\\.PEC" />
                <data android:mimeType="application/x-pec" />
                <data android:pathPattern=".*\\.pes" />
                <data android:pathPattern=".*\\.PES" />
                <data android:mimeType="application/x-pes" />
                <data android:pathPattern=".*\\.sew" />
                <data android:pathPattern=".*\\.SEW" />
                <data android:mimeType="application/x-sew" />
                <data android:pathPattern=".*\\.shv" />
                <data android:pathPattern=".*\\.SHV" />
                <data android:mimeType="application/x-shv" />
                <data android:pathPattern=".*\\.svg" />
                <data android:pathPattern=".*\\.SVG" />
                <data android:mimeType="image/svg+xml" />
                <data android:pathPattern=".*\\.vp3" />
                <data android:pathPattern=".*\\.VP3" />
                <data android:mimeType="application/x-vp3" />
                <data android:pathPattern=".*\\.XXX" />
                <data android:pathPattern=".*\\.xxx" />
                <data android:mimeType="application/x-xxx" />
                <data
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.dst" />
                <data
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.DST" />
                <data
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.col" />
                <data
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.COL" />
                <data
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.exp" />
                <data
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.EXP" />
                <data
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.inf" />
                <data
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.INF" />
                <data
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.jef" />
                <data
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.JEF" />
                <data
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.pcs" />
                <data
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.PCS" />
                <data
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.pec" />
                <data
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.PEC" />
                <data
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.pes" />
                <data
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.PES" />
                <data
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.sew" />
                <data
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.SEW" />
                <data
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.shv" />
                <data
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.SHV" />
                <data
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.svg" />
                <data
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.SVG" />
                <data
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.vp3" />
                <data
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.VP3" />
                <data
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.xxx" />
                <data
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.XXX" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="content" />
                <data android:host="*" />
                <data android:mimeType="application/octet-stream" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="*" />
                <data android:pathPattern=".*\\.dst" />
                <data android:pathPattern=".*\\.DST" />
                <data android:pathPattern=".*\\.col" />
                <data android:pathPattern=".*\\.COL" />
                <data android:pathPattern=".*\\.exp" />
                <data android:pathPattern=".*\\.EXP" />
                <data android:pathPattern=".*\\.jef" />
                <data android:pathPattern=".*\\.JEF" />
                <data android:pathPattern=".*\\.pcs" />
                <data android:pathPattern=".*\\.PCS" />
                <data android:pathPattern=".*\\.pec" />
                <data android:pathPattern=".*\\.PEC" />
                <data android:pathPattern=".*\\.pes" />
                <data android:pathPattern=".*\\.PES" />
                <data android:pathPattern=".*\\.sew" />
                <data android:pathPattern=".*\\.SEW" />
                <data android:pathPattern=".*\\.shv" />
                <data android:pathPattern=".*\\.SHV" />
                <data android:pathPattern=".*\\.svg" />
                <data android:pathPattern=".*\\.SVG" />
                <data android:pathPattern=".*\\.vp3" />
                <data android:pathPattern=".*\\.VP3" />
                <data android:pathPattern=".*\\.XXX" />
                <data android:pathPattern=".*\\.xxx" />
            </intent-filter>

        </activity>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.embroidermodder.embroideryviewer.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
    </application>

</manifest>